<ion-content [fullscreen]="true" class="register">
  <ion-grid class="ion-padding h-100">
    <ion-row class="h-100">
      <ion-col class="ion-align-self-center">
        <div class="ion-text-center ion-padding-top">
          <!--<img [src]="'../../../assets/logo_s.png'"
               routerLink="/catalog"
               class="register__logo"
               alt="SMMme">-->
          <p class="register__title">Регистрация</p>
          <p class="register__sub-title">Добро пожаловать в SMMme.</p>
        </div>
        <form (ngSubmit)="register()" [formGroup]="registerForm">
          <input type="text"
                 placeholder="Имя"
                 formControlName="name"
                 class="register__input">
          <input type="password"
                 placeholder="Пароль"
                 formControlName="password"
                 class="register__input">
          <input type="email"
                 placeholder="Email"
                 formControlName="email"
                 class="register__input">

          <ion-button type="submit" expand="block" [disabled]="!registerForm.valid">Заристрироваться</ion-button>

        </form>
        <div class="ion-text-center ion-padding-top ion-padding-bottom register__login">
          Уже есть аккаунт?
          <a routerLink="/login" class="register__link">Вход</a>
        </div>
        <div class="social">
          <a
            (click)="auth.googleAuth()" class="social__btn social__btn_g">
            <img src="../../../assets/icons/google.svg" alt="">Продолжить с Google
          </a><!--
          <a (click)="onSocialLogin()" class="social__btn social__btn_f">
            <img src="../../../assets/icons/facebook.svg" alt="">
          </a>
          <a (click)="onSocialLogin()" class="social__btn social__btn_i">
            <img src="../../../assets/icons/instagram.svg" alt="">
          </a>-->
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>












